{% extends 'base.html' %}

{% block title %}
Фильмо
{% endblock %}

 {% block header %}
<li class="nav-item"><a class="nav-link text-white" href="/">Главная</a></li>
<li class="nav-item"><a class="nav-link text-white active" href="/about/">Фильмы</a></li>
{% endblock %}

{% block content %}

 <!-- Секция 2: Карточки -->
        <section class="row my-5">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="Tom Hanks.jpeg" class="card-img-top img-fluid" alt="Карточка 1">
                    <div class="card-body">
                        <h5 class="card-title">Том Хэнкс</h5>
                        <p class="card-text">американский актёр театра, кино, телевидения и озвучивания, продюсер, кинорежиссёр, сценарист и писатель..</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="Tom Hardy.jpeg" class="card-img-top img-fluid" alt="Карточка 2">
                    <div class="card-body">
                        <h5 class="card-title">Том Харди</h5>
                        <p class="card-text">британский актёр, продюсер и сценарист. Обладатель премии BAFTA и номинант на премию «Оскар».</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="Tom Cruise.jpg" class="card-img-top img-fluid" alt="Карточка 3">
                    <div class="card-body">
                        <h5 class="card-title">Том Круз</h5>
                        <p class="card-text">американский актёр, кинорежиссёр, сценарист и кинопродюсер. Трёхкратный обладатель премии «Золотой глобус».</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}