{% extends 'base.html' %}

{% block title %}
Фильмы Гая Ричи
{% endblock %}

{% block header %}
<li class="nav-item"><a class="nav-link text-white active" href="/">Главная</a></li>
<li class="nav-item"><a class="nav-link text-white" href="/about/">Фильмы</a></li>
{% endblock %}

{% block content %}

<!-- Секция 2: Карточки -->
<section class="row my-5">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="static/images/GuyRitchi.jpg" class="card-img-top img-fluid" alt="Карточка 1" style="object-fit: contain; height: 200px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Гай Ричи</h5>
                <p class="card-text">Британский кинорежиссёр, сценарист, продюсер</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="static/images/Moscow.jpg" class="card-img-top img-fluid" alt="Карточка 2" style="object-fit: contain; height: 200px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Последние новости</h5>
                <p class="card-text">В 2021 году взял однушку в ипотеку в центре Москвы и начинает снимать сомнительные фильмы, чтобы оплачивать.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="static/images/Gentle.jpg" class="card-img-top img-fluid" alt="Карточка 3" style="object-fit: contain; height: 200px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Последний стоящий фильм</h5>
            </div>
        </div>
    </div>
</section>






{% endblock %}